html
    head
        title #{title}
    body
        h1 #{title}
        p Looks like the page that you requesting does not exist. Please try to reboot your PC and request it again.
        pre.
            ░░░░▄▄▄▄▀▀▀▀▀▀▀▀▄▄▄▄▄▄
            ░░░░█░░░░▒▒▒▒▒▒▒▒▒▒▒▒░░▀▀▄
            ░░░█░░░▒▒▒▒▒▒░░░░░░░░▒▒▒░░█
            ░░█░░░░░░▄██▀▄▄░░░░░▄▄▄░░░█
            ░▀▒▄▄▄▒░█▀▀▀▀▄▄█░░░██▄▄█░░░█
            █▒█▒▄░▀▄▄▄▀░░░░░░░░█░░░▒▒▒▒▒█
            █▒█░█▀▄▄░░░░░█▀░░░░▀▄░░▄▀▀▀▄▒█
            ░█▀▄░█▄░█▀▄▄░▀░▀▀░▄▄▀░░░░█░░█
            ░░█░░▀▄▀█▄▄░█▀▀▀▄▄▄▄▀▀█▀██░█
            ░░░█░░██░░▀█▄▄▄█▄▄█▄████░█
            ░░░░█░░░▀▀▄░█░░░█░███████░█
            ░░░░░▀▄░░░▀▀▄▄▄█▄█▄█▄█▄▀░░█
            ░░░░░░░▀▄▄░▒▒▒▒░░░░░░░░░░█
            ░░░░░░░░░░▀▀▄▄░▒▒▒▒▒▒▒▒▒▒░█
            ░░░░░░░░░░░░░░▀▄▄▄▄▄░░░░░█
