html
    head
        title #{title}
    body
        h1 #{title}
        p Server has been crashed. That is only your fault. I sure.
        pre.
            ─▄▀▀▀▀▄─█──█────▄▀▀█─▄▀▀▀▀▄─█▀▀▄
            ─█────█─█──█────█────█────█─█──█
            ─█────█─█▀▀█────█─▄▄─█────█─█──█
            ─▀▄▄▄▄▀─█──█────▀▄▄█─▀▄▄▄▄▀─█▄▄▀
            ─────────▄██████▀▀▀▀▀▀▄
            ─────▄█████████▄───────▀▀▄▄
            ──▄█████████████───────────▀▀▄
            ▄██████████████─▄▀───▀▄─▀▄▄▄──▀▄
            ███████████████──▄▀─▀▄▄▄▄▄▄────█
            █████████████████▀█──▄█▄▄▄──────█
            ███████████──█▀█──▀▄─█─█─█───────█
            ████████████████───▀█─▀██▄▄──────█
            █████████████████──▄─▀█▄─────▄───█
            █████████████████▀███▀▀─▀▄────█──█
            ████████████████──────────█──▄▀──█
            ████████████████▄▀▀▀▀▀▀▄──█──────█
            ████████████████▀▀▀▀▀▀▀▄──█──────█
            ▀████████████████▀▀▀▀▀▀──────────█
            ──███████████████▀▀─────█──────▄▀
            ──▀█████████████────────█────▄▀
            ────▀████████████▄───▄▄█▀─▄█▀
            ──────▀████████████▀▀▀──▄███
            ──────████████████████████─█
            ─────████████████████████──█
            ────████████████████████───█
            ────██████████████████─────█
            ────██████████████████─────█
            ────██████████████████─────█
            ────██████████████████─────█
            ────██████████████████▄▄▄▄▄█
            ─────────────█─────█─█──█─█───█
            ─────────────█─────█─█──█─▀█─█▀
            ─────────────█─▄█▄─█─█▀▀█──▀█▀
            ─────────────██▀─▀██─█──█───█

        p #{error}
